.remove-btn{
    border-radius: 40%;
    padding: 8px;
    border: 1px solid gainsboro;
    color: gray;
    font-size: 17px;
    background-color: transparent;
}

.remove-btn:hover{
    color: black;
    background-color: rgb(115, 113, 221);
}


.table{
    margin: 0;
}
.table-head{
    background-color: rgb(109, 111, 207);
}
.table tr{
    text-align: center;
}


.table th{
    padding: 10px
}

cart1{
    margin: 10px;

}

cart2{
    margin: 10px;
}



.table img {
    width: 70px;
}

.table th, .table td {
    font-size: 12px;
    padding: 6px;
}

.nav-link,
.nav-btn {
    font-size: 12px;
}

.container {
    width: 95%;
    margin: auto;
}




@media (min-width: 250px) {
    .table img {
        width: 80px;
    }
}




@media (min-width: 476px) {
    .table img {
        width: 90px;
    }

    .table th, .table td {
        font-size: 13px;
        padding: 8px;
    }

    .nav-link {
        font-size: 13px;
    }
}




@media (min-width: 576px) {
    .table img {
        width: 100px;
    }

    .table th, .table td {
        font-size: 14px;
    }

    .container {
        width: 90%;
    }

    .nav-link {
        font-size: 14px;
    }
}




@media (min-width: 768px) {
    .table th, .table td {
        font-size: 16px;
        padding: 10px;
    }

    .nav {
        display: flex;
        gap: 10px;
    }

    .nav-link, .nav-btn {
        font-size: 15px;
    }
}




@media (min-width: 990px) {
    .container {
        width: 85%;
    }

    .table th {
        font-size: 17px;
    }

    .table td {
        font-size: 16px;
    }

    .nav-link, .nav-btn {
        font-size: 16px;
    }
}




@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }

    .table th {
        font-size: 18px;  
    }

    .table td {
        font-size: 17px;
    }

    .nav-link {
        font-size: 17px;
        margin: 0 6px;
    }
}

